body {
    background-color: lightsteelblue;
}

p {
    text-align: center;
}

.rank {
    text-align: right;
}

.buttons {
    background-color: lightblue;
}

#feedbackForm {
    text-align: center; 
    margin-top: 60px; 
    padding: 20px; 
    background-color: #f0f0f0;
}

#mensagem-enviada {
    color: green; 
    display: none;
}

.botão {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin: 100px;
    border: 3px solid black;
    cursor: pointer;
    transition: transform 0.1s;
    margin-left: 250px;
    margin-bottom: -100px;


}

.verde {
    background-color: green;
   
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.botão:active {
    transform: scale(0.95);
   opacity: 0.8;
}