body {
    background-color: lightsteelblue;
}

p {
    text-align: center;
}

.rank {
    text-align: right;
}

.buttons {
    background-color: lightblue;
}

#feedbackForm {
    text-align: center; 
    margin-top: 60px; 
    padding: 20px; 
    background-color: #f0f0f0;
}

#mensagem-enviada {
    color: green; 
    display: none;
}